<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Gramática Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>

    <header>
        <div class="logo">GRAMÁTICA ONLINE</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('usuario') }}"><i class="fa-regular fa-circle-user"></i>Início</a></li>
                <li><a href="{{ url_for('gramatica') }}"><i class="fa-solid fa-book"></i>Gramática</a></li>
                <li><a href="{{ url_for('atividades') }}"><i class="fa-solid fa-pen"></i>Atividades</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <section id="login" class="section">
            <h2>Login</h2>

            <form class="form-login">
                <div class="campo">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" placeholder="Digite seu e-mail">
                </div>

                <div class="campo">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" placeholder="Digite sua senha">
                </div>

                <button type="submit" class="btn">Entrar</button>
            </form>

            <div class="imagem-login-container">
                <img src="{{ url_for('static', filename='img/1000143201.png') }}" alt="Mascote Kael" class="imagem-login">
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Gramática Online</p>
            <nav>
                <a href="#politica">Política de Privacidade</a>
            </nav>
        </div>
    </footer>

</body>
</html>
