<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morfologia Detalhada | Gramatica Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>

    <header>
        <div class="logo">GRAMÁTICA ONLINE</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('usuario') }}"><i class="fa-regular fa-circle-user"></i>Usuario</a></li> 
                <li><a href="{{ url_for('gramatica') }}"><i class="fa-solid fa-book"></i>Gramática</a></li>
                <li><a href="{{ url_for('atividades') }}"><i class="fa-solid fa-pen"></i>Atividades</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <section id="morfologia-detalhes" class="section">

            <h2>QUESTÕES — SUJEITO</h2>

            <div class="atividade">

                <h2>
                    1. Qual é o sujeito da frase
                    “As meninas chegaram cedo”?
                </h2>

                <label class="opcao">
                    <input type="radio" name="q1">
                    a) chegaram cedo
                </label>

                <label class="opcao">
                    <input type="radio" name="q1">
                    b) cedo
                </label>

                <label class="opcao">
                    <input type="radio" name="q1">
                    c) As meninas
                </label>

                <label class="opcao">
                    <input type="radio" name="q1">
                    d) chegaram
                </label>

                <input type="checkbox" id="ver1">

                <label for="ver1" class="botao">
                    Ver resposta
                </label>

                <div class="gabarito">
                    ✔ A resposta correta é:
                    <strong>c) As meninas</strong>
                </div>

            </div>

            <div class="atividade">

                <h2>
                    2. Em “Choveu muito ontem”,
                    o sujeito é:
                </h2>

                <label class="opcao">
                    <input type="radio" name="q2">
                    a) oculto
                </label>

                <label class="opcao">
                    <input type="radio" name="q2">
                    b) simples
                </label>

                <label class="opcao">
                    <input type="radio" name="q2">
                    c) inexistente
                </label>

                <label class="opcao">
                    <input type="radio" name="q2">
                    d) composto
                </label>

                <input type="checkbox" id="ver2">

                <label for="ver2" class="botao">
                    Ver resposta
                </label>

                <div class="gabarito">
                    ✔ A resposta correta é:
                    <strong>c) inexistente</strong>
                </div>

            </div>

            <div class="atividade">

                <h2>
                    3. Na frase
                    “João e Maria estudaram juntos”,
                    o sujeito é classificado como:
                </h2>

                <label class="opcao">
                    <input type="radio" name="q3">
                    a) simples
                </label>

                <label class="opcao">
                    <input type="radio" name="q3">
                    b) oculto
                </label>

                <label class="opcao">
                    <input type="radio" name="q3">
                    c) inexistente
                </label>

                <label class="opcao">
                    <input type="radio" name="q3">
                    d) composto
                </label>

                <input type="checkbox" id="ver3">

                <label for="ver3" class="botao">
                    Ver resposta
                </label>

                <div class="gabarito">
                    ✔ A resposta correta é:
                    <strong>d) composto</strong>
                </div>

            </div>

            <div class="atividade">

                <h2>
                    4. Em “Fomos ao cinema ontem”,
                    o sujeito é:
                </h2>

                <label class="opcao">
                    <input type="radio" name="q4">
                    a) simples
                </label>

                <label class="opcao">
                    <input type="radio" name="q4">
                    b) oculto
                </label>

                <label class="opcao">
                    <input type="radio" name="q4">
                    c) inexistente
                </label>

                <label class="opcao">
                    <input type="radio" name="q4">
                    d) composto
                </label>

                <input type="checkbox" id="ver4">

                <label for="ver4" class="botao">
                    Ver resposta
                </label>

                <div class="gabarito">
                    ✔ A resposta correta é:
                    <strong>b) oculto</strong>
                </div>

            </div>

            <div class="atividade">

                <h2>
                    5. Qual alternativa apresenta
                    sujeito simples?
                </h2>

                <label class="opcao">
                    <input type="radio" name="q5">
                    a) Ana e Pedro viajaram.
                </label>

                <label class="opcao">
                    <input type="radio" name="q5">
                    b) Choveu bastante.
                </label>

                <label class="opcao">
                    <input type="radio" name="q5">
                    c) O cachorro latiu alto.
                </label>

                <label class="opcao">
                    <input type="radio" name="q5">
                    d) Fizeram a tarefa.
                </label>

                <input type="checkbox" id="ver5">

                <label for="ver5" class="botao">
                    Ver resposta
                </label>

                <div class="gabarito">
                    ✔ A resposta correta é:
                    <strong>c) O cachorro latiu alto.</strong>
                </div>

            </div>

            <a href="{{ url_for('gramatica') }}"
               class="btn btn-detalhe"
               style="background-color: var(--primary-blue); box-shadow: 0 5px #50b3e6;">

                <i class="fa-solid fa-arrow-left"></i>
                Voltar para Tópicos
            </a>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Gramatica Online</p>
            <nav>
                <a href="#politica">Política de Privacidade</a>
            </nav>
        </div>
    </footer>
</body>
</html>
