{% extends "base.html" %}

{% block conteudo %}

    <section class="section">
        <h2>Módulo: Classificação de Palavras</h2>
        <p>
            Nesta seção você encontrará materiais de apoio,
            documentos explicativos e mapas mentais para auxiliar
            seus estudos sobre classificação de palavras.
        </p>
        <div class="topicos-detalhe">
            <h3>
                <i class="fa-solid fa-file-pdf"></i>
                Material em PDF
            </h3>
            <a href="https://drive.google.com/open?id=18CEnlZTnq0tRJ3ppZKDP_bJIHHFm9RAr"
               target="_blank"
               class="btn btn-detalhe"
               style="background-color: var(--primary-blue);">
                Abrir PDF
            </a>
            <br><br>
            <h3>
                <i class="fa-solid fa-diagram-project"></i>
                Mapa Mental
            </h3>
            <div class="mapa-mental-container">
                <img src="{{ url_for('static', filename='img/file_00000000d77c820e8d293b62b6ca2a60.png') }}"
                     alt="Mapa Mental de lassificação de Palavras"
                     class="mapa-mental">
            </div>
            <br>
            <a href="{{ url_for('atividades') }}"
               class="btn btn-detalhe"
               style="background-color: var(--soft-purple); box-shadow: 0 5px #c3b4f0;">
                <i class="fa-solid fa-pen"></i>
                Ir para Exercícios
            </a>
            <a href="{{ url_for('gramatica') }}"
               class="btn btn-detalhe"
               style="background-color: var(--primary-blue); box-shadow: 0 5px #50b3e6;">
                <i class="fa-solid fa-arrow-left"></i>
                Voltar para Tópicos
            </a>
        </div>
    </section>
{% endblock %}