<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login | Gramática Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="cabecalho-usuario">
        <img
            src="{{ url_for('static', filename='img/file_00000000745471f5b81bd5df81c66141-removebg-preview.png') }}"
            alt="Logo"
            class="avatar-esquerda">
        <div class="logo">GRAMÁTICA ONLINE</div>
    </header>

    <main class="container">
        <section id="inicio" class="section">
            <div class="imagem-login-container">
                <img src="{{ url_for('static', filename='img/file_00000000234071f78708617664798a96-removebg-preview.png') }}"
                     alt="Imagem de Login"
                     class="imagem-login">
            </div>

            <form class="form" id="loginForm">
                <input type="email" name="email" id="email" placeholder="E-mail" required>
                <input type="password" name="senha" id="senha" placeholder="Senha" required>
                <button type="submit" class="btn">Entrar</button>
            </form>

            <div style="text-align: center; margin-top: 10px;">
                <a href="{{ url_for('usuario') }}" class="btn">
                    Entrar sem login
                </a>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Gramática Online</p>
        </div>
    </footer>

    <script>
        document.getElementById("loginForm").addEventListener("submit", function(event) {
            let email = document.getElementById("email").value;
            let senha = document.getElementById("senha").value;
            if (nome === "" || email === "" || senha === "") {
                event.preventDefault();
                alert("Por favor, preencha todos os campos antes de entrar.");
            } else {
                event.preventDefault();
                window.location.href = "{{ url_for('usuario') }}";
            }
        });
    </script>
</body>
</html>
