{% extends "base.html" %}

{% block conteudo %}
        <section id="inicio" class="section">
            {% with mensagens = get_flashed_messages() %}
                {% if mensagens %}
                    <div class="flash-messages">
                        {% for mensagem in mensagens %}
                            <p>{{ mensagem }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="imagem-login-container">
                <img src="{{ url_for('static', filename='img/file_00000000234071f78708617664798a96-removebg-preview.png') }}"
                     alt="Imagem de Login"
                     class="imagem-login">
            </div>

            <a href="{{ url_for('auth_suap') }}" class="btn">Entrar com SUAP</a>
        </section>
{% endblock %}