<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login | Gramática Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="cabecalho-usuario">
        <img
            src="{{ url_for('static', filename='img/file_00000000745471f5b81bd5df81c66141-removebg-preview.png') }}"
            alt="Logo"
            class="avatar-esquerda">
        <div class="logo">GRAMÁTICA ONLINE</div>
    </header>

    <main class="container">
        <section id="inicio" class="section">
            {% with mensagens = get_flashed_messages() %}
                {% if mensagens %}
                    <div class="flash-messages">
                        {% for mensagem in mensagens %}
                            <p>{{ mensagem }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="imagem-login-container">
                <img src="{{ url_for('static', filename='img/file_00000000234071f78708617664798a96-removebg-preview.png') }}"
                     alt="Imagem de Login"
                     class="imagem-login">
            </div>

            <a href="{{ url_for('auth_suap') }}" class="btn">Entrar com SUAP</a>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Gramática Online</p>
        </div>
    </footer>

</body>
</html>
