{% extends "base.html" %}

{% block conteudo %}
    <section class="painel-estudos">
        <h2>ÁREA DE ESTUDOS</h2>

        <p>
            No Gramática Online, você vai estudar conteúdos de
            <strong>Pontuação</strong>, <strong>Periodo Simples</strong>,<br>
            <strong>Periodo Composto</strong> e <strong>Classificação de Palavras</strong> e praticar com nossas <br>
            <strong>Atividades</strong>. Você tambem poderar acessar os conteudos extras de <strong>Sintaxe</strong>,<br>
            que foram produzidos pelas criadoras do site e praticar com <strong>Atividades</strong>.<br>
            Alem disso, novos <strong>Assuntos</strong> e novas <strong>Atividades</strong> poderam ser acrecentadas<br>
            por professores, e os estudantes poderam visualizar esses novos <strong>Assuntos</strong> e responder as<br>
            <strong>Atividades</strong> adicionadas.<br>
            <strong>Seja bem vindo, e bons estudos!</strong>
        </p>

        <div class="lista-sintaxe">

            <h3>Conteúdos Extras de Sintaxe:</h3>

            <ul>

                <li>
                    <i class="fa-solid fa-star"></i>
                    Sujeito (simples, composto, oculto,
                    indeterminado, orações sem sujeito)
                </li>

                <li>
                    <i class="fa-solid fa-star"></i>
                    Predicado (verbal, nominal, verbo-nominal,
                    relação sujeito + predicado)
                </li>

                <li>
                    <i class="fa-solid fa-star"></i>
                    Aposto (explicativo, especificativo,
                    resumitivo, distributivo,
                    diferença entre aposto e vocativo)
                </li>

                <li>
                    <i class="fa-solid fa-star"></i>
                    Complemento verbal
                    (Objeto direto e objeto indireto,
                    Verbos transitivos e intransitivos)
                </li>

                <li>
                    <i class="fa-solid fa-star"></i>
                    Complemento nominal
                    (Diferença entre complemento nominal
                    e objeto indireto)
                </li>

                <li>
                    <i class="fa-solid fa-star"></i>
                    Agente da passiva
                    (voz passiva analítica,
                    Transformação da voz ativa em passiva)
                </li>

                <li>
                    <i class="fa-solid fa-star"></i>
                    Adjunto adnominal
                    (relação com o substantivo,
                    adjunto adnominal e complemento nominal)
                </li>

                <li>
                    <i class="fa-solid fa-star"></i>
                    Adjunto adverbial
                    (de tempo, lugar, modo, causa,
                    finalidade, etc.)
                </li>

                <li>
                    <i class="fa-solid fa-star"></i>
                    Revisão geral
                    (Como todos esses termos se relacionam
                    na estrutura da oração)
                </li>
            </ul>
        </div>

        <a href="{{ url_for('escolha') }}" class="botao-comecar">
            <i class="fa-solid fa-file-lines"></i> Começar agora
        </a>
    </section>
{% endblock %}